<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saborapp">
    <!-- Se agregan permisos de acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/saborapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaborApp">
        <activity
            android:name=".views.ViewSingleRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".views.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.AboutActivity" />
        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.RecipeActivity" />
        <activity android:name=".views.ProfileActivity" />
        <activity android:name=".views.SignUpActivity" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>